h1 {
font-family: 'Staatliches', cursive;
color:#000000;
text-align:center;
position:relative;
}

.wrapper {
  font-family: 'Bungee', cursive;
  color: red;
  margin: 34px;
}

p{
  font-family: 'Oswald', sans-serif;
  color:black;
  text-align-last: center;
  font-size: 28px;
  
  
}

#pic1{
   /*margin-right:1300px;*/
   float: left;
   /*margin-bottom: 50px;*/
   /* clear: right;*/

}



#pic2{
  /*margin-left: 800px;*/
  float: right;
}

#pic3{
    /*margin-left: 800px;*/
  float: right;


}

#pic4{
    margin-left: 800px;
  float: right;


}

.wrapper1{
  font-size:15;
   margin-bottom: 100px;
}


#p2{
  text-size: 30px;
  display: inline
}


#float2{
height: 150px;
width: 300px;
  float: left;
margin-left: 300px;

}

.blue-button{
 background-color: #89cff0;
 color: black;
}

#video{
    float: left;
    /*margin-left: 150px;*/
}