h1 {

  font-family: 'Bungee', cursive;
  color: #000000;
  text-align: center;
  position: relative;
}

.wrapper {

  font-family: 'Bungee', cursive;
  color: red;
  margin: 34px;
}

p {
  font-family: "Charmonman", Cursive;
  color: #FFFFFF;

}

#pic1 {}


img {}
