

h1 {
    
font-family: 'Bungee', cursive;
color:#8F1B07;
text-align:center;
position:relative;
}
.wrapper {
    
font-family: 'Bungee', cursive;
color:red;
margin: 34px;
}

p{
  font-family: "Charmonman", Cursive;  
  color:#fff;
  text-align: left
}

#pic{
    margin-left: 850px;
}